################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/SmartHomeServer/bin/Debug/netcoreapp3.1
/SmartHomeServer/obj
/.vs/SmartHomeServer
